<!DOCTYPE html>
<html>
  <head>
    <title>Object Guessing Game</title>
  </head>
  <body style="background-color:#E0F8F7">
    <center>
      <h1>{{game.status if game.status}}</h1>
      <form method="post">
        <input type="text" name="user_question"
          placeholder="Type your question here"
          value="">
        </input>
        <input type="submit" value="Submit">
      </form>
      <table>
      {% for i in range(game.game_master.prompt_history.__len__()-2 ,5 , -2) %}
      <tr style="background-color: {{'#A9F5A9' if game.game_master.prompt_history[i+1].content == 'yes' else '#F78181' if game.game_master.prompt_history[i+1].content == 'no' else '#BDBDBD'}};">
        <td><h3>{{"User" if i % 4 == 1 else "Opponent" }}: </h3></td>
        <td><h3>{{game.game_master.prompt_history[i].content}}</h3></td>
        <td><h3>{{game.game_master.prompt_history[i+1].content}}</h3></td>
      </h3></tr>
      {% endfor %}
      </table>
    </center>
  </body>
</html>
