<!DOCTYPE html>
<html>
  <head>
    <title>Object Guessing Game</title>
  </head>
  <body style="background-color:#E0F8F7">
    <center>
      <h1>{{game.status if game.status}}</h1>
      <form method="post">
        <input style="background-color:#f5fdcf; height: 30px; width: 40%;" type="text" name="user_question"
          placeholder="Type your question here"
          value="">
        </input>
        <input type="submit" value="Submit" style="height: 30px; width: 80px;">
      </form>
      <table>
      {% for line in game.frontend_output %}
      <tr style="background-color: {{'#A9F5A9' if 'yes' in line['answer'].lower()  else '#F78181' if 'no' in line['answer'].lower() else '#BDBDBD'}};">
        <td><h3>{{"User" if line['user'] else "Opponent" }}: </h3></td>
        <td><h3>{{line['question']}}</h3></td>
        <td><h3>{{line['answer']}}</h3></td>
      </h3></tr>
      {% endfor %}
      </table>
    </center>
  </body>
</html>
